.gallery {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
};

.gallery-item {
    margin-bottom: 20px;
    width: calc((100% - 48px) / 3);
};

.gallery-image {
    display: block;
    border-radius: 5px;
};